@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600;700&display=swap");


html, body {
    padding: 0; 
    margin: 0;
    scroll-behavior: smooth;
    font-family: 'Russo One', sans-serif;
}

.navbar {
    display: flex;
    justify-content: end;
}

body * {
    transition: 0.1s;
}

.home {
    color: rgb(189, 187, 187);
}


a {
    text-decoration: none;
    color: #17a2b8
}


li {
    list-style-type: none;
}

.main_title {
    /* background-color: #262626; */
    padding: 57px;
    border: 1px solid rgb(51, 51, 51);
}


.modal-body {
    color: rgb(0, 0, 0);
}

.message {
    width: 80%;
    display: flex;
    margin: auto;
    box-shadow: -1px 1px 3px -1px rgba(0,0,0,0.75), -1px 1px 3px -1px rgba(0,0,0,0.75);
    border-radius: 5px;
    padding: 5px;
    padding-bottom: 50px;
}

form {
    margin: auto;
    width: 90%;
}

.image_about {
    padding: 20px;
    background-color: #fff;
}

.about-me {
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    padding: 40px;
}









:root{
    --header-height: 3rem;
    --font-medium: 500;
}

:root{
    --first-color: #5361FF;
    --white-color: #FAFAFF;
    --dark-color: #2A3B47;
    --text-color: #697477;
}


:root{
    --body-font: 'Montserrat', sans-serif;
    --big-font-size: 6.25rem;
    --h2-font-size: 1.25rem;
    --normal-font-size: .938rem;
    --small-font-size: .813rem;
}
@media screen and (min-width: 768px){
    :root{
        --big-font-size: 10.5rem;
        --h2-font-size: 2rem;
        --normal-font-size: 1rem;
        --small-font-size: .875rem;
    }
}


:root{
    --mb-1: .5rem;
    --mb-2: 1rem;
    --mb-3: 1.5rem;
    --mb-4: 2rem;
}


:root{
    --z-fixed: 100;
}


*,::before,::after{
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}

body{
    margin: var(--header-height) 0 0 0;
    font-family: var(--body-font);
    font-size: var(--normal-font-size);
    font-weight: var(--font-medium);
    color: var(--text-color);
    line-height: 1.6;
}

h1,h2,p{
    margin: 0;
}

ul{
    margin: 0;
    padding: 0;
    list-style: none;
}

img{
    max-width: 100%;
    height: auto;
    display: block;
}


.section{
    padding: 3rem 0;
}

.section-title{
    position: relative;
    font-size: var(--h2-font-size);
    color: var(--white-color);
    margin: var(--mb-4) 0;
    text-align: center;
}

.section-title::after{
    position: absolute;
    content: "";
    width: 32px;
    height: .18rem;
    left: 0;
    right: 0;
    margin: auto;
    top: 2rem;
    background-color: var(--first-color);
}


/* ===== ABOUT =====*/
.about__container{
    justify-items: center;
    row-gap: 1rem;
    text-align: center;
}
/* .about_img{
    width: 100%;
    height: 100%;
    overflow: hidden;
    padding: 40px;
} */

.undraw {
    width: 25%;
    border-radius: 50%;
}

.about_text{
    margin-bottom: var(--mb-4);
}

.about_profession{
    display: block;
    margin-bottom: var(--mb-4);
}

.social-icon:hover{
    color: var(--white-color);
}

/* ===== SKILLS =====*/

.skills-title{
    color: var(--first-color);
    margin-bottom: var(--mb-3);
}

.skills-name{
    font-size: var(--small-font-size);
    margin-right: var(--mb-2);
    margin-bottom: var(--mb-3);
    padding: .25rem .5rem;
    background-color: var(--first-color);
    border-radius: .25rem;
    width: 40%;
}
.skills-name:hover{
    background-color: var(--white-color);
    color: var(--first-color);
}


/* ===== PROJECTS =====*/
.portfolio__container{
    justify-items: center;
    row-gap: 2rem;
}

.card-deck{
    position: relative;
    overflow: hidden;
    background-color: rgba(255,255,255,.3);
    border-radius: .5rem;
    cursor: pointer;
    backdrop-filter: blur(10px);
    transition: .3s;
}
.card-deck img{
    border-radius: .5rem;
}

.card-deck img:hover {
    opacity: 0.6;
}


.card-deck:hover{
    bottom: 0;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}

.project {
    border-radius: .5rem;
}

.project:hover {
    -webkit-transform: scale(1.01);

}

.portfolio__link-name{
    color: var(--dark-color);
}

/* ===== CONTACT =====*/
.contact__subtitle{
    font-size: var(--normal-font-size);
    color: var(--first-color);
}
.contact__text{
    display: inline-block;
    margin-bottom: var(--mb-2);
}

.contact-icon {
    background-color: var(--white-color);
    color: var(--first-color);
    width: 50px;
    height: 30px;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 50%;
}



/* ===== FOOTER=====*/
.footer{
    background-color: var(--white-color);
}

.footer__title{
    font-size: var(--normal-font-size);
    margin-bottom: var(--mb-2);
}


.footer__link{
    padding: 5 10 5 10;
}


.footer__link:hover{
    background-color: var(--first-color);
    color: var(--white-color);
}

.social-icons {
    padding: 20 0 10 0;

}


.social-icons:hover{
    background-color: var(--dark-color);
    color: var(--white-color);
}

/* ===== MEDIA QUERIES =====*/
/* For small devices */
@media screen and (max-width: 320px) {
  .home_image {
    width: 230px;
    height: auto;
  }
  .about_img {
    width: 230px;
    width: 230px;
  }
}

@media screen and (max-width: 320px) {
    .skills-name {
        width: 100%;
    }
}

@media screen and (min-width: 768px){
    body{
        margin: 0;
    }
    .section{
        padding-top: 4rem;
    }
    .section-title{
        margin-bottom: 3rem;
    }
    .section-title::after{
        width: 64px;
        top: 3rem;
    }

    .nav{
        height: calc(var(--header-height) + 1rem);
    }
    .nav__list{
        display: flex;
    }
    .nav__item{
        margin-left: var(--mb-4);
        margin-bottom: 0;
    }
    .nav__toggle{
        display: none;
    }
    .nav__link{
        color: var(--white-color);
    }
    .nav__link:hover{
        color: var(--white-color);
    }
    /* .active::after{
        background-color: var(--white-color);
    } */

    .home__container{
        height: 100vh;
        grid-template-rows: 1.7fr 1fr;
        row-gap: 0;
    }
    .home__img{
        width: 524px;
        right: 10%;
    }

    .about__container{
        grid-template-columns: repeat(2, 1fr);
        align-items: center;
        text-align: initial;
        padding: 4rem 0;
    }
    .about__img{
        width: 200px;
        height: 200px;
    }
    .about__img img{
        width: 165px;
    }

    .skills__container{
        grid-template-columns: repeat(2, 1fr);
        align-items: center;
    }

    .portfolio__container{
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(2, 1fr);
        column-gap: 2rem;
    }

    .contact__container{
        grid-template-columns: repeat(2, 1fr);
        justify-items: center;
    }
    .contact__form{
        width: 380px;
    }

    .footer__container{
        grid-template-columns: repeat(3, 1fr);
        justify-items: center;
    }
}

@media screen and (min-width: 1024px){
    .bd-grid{
        margin-left: auto;
        margin-right: auto;
    }
}

@media screen and (min-height: 721px) {
    .home__container {
        height: 640px;
    }
    .home__img {
        width: 500px;
        right: 24%;
    }
}