:root {
    --mainColor: #eaeaea;
    --secondaryColor:#fff;

    --borderColor: #c1c1c1;

    --mainText:black;
    --secondaryText:#4b5156;

    --themeDotBorder:#24292e;

    --previewBg:rgb(251, 249, 243, 0.8);
    --previewShadow:#f0ead6;

    --buttonColor:black;
}

html, body {
    padding: 0; 
    margin: 0;
    scroll-behavior: smooth;
    font-family: 'Russo One', sans-serif;
}

body * {
    transition: 0.3s;
}

.home {
    color: rgb(189, 187, 187);
}


a {
    text-decoration: none;
    color: #17a2b8
}


li {
    list-style-type: none;
}

.main_title {
    background-color: #262626;
    padding: 57px;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}

.card-deck {
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}

.modal-body {
    color: rgb(0, 0, 0);
}

.message {
    width: 80%;
    display: flex;
    margin: auto;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    border-radius: 5px;
    padding: 5px;
    padding-bottom: 50px;
}

form {
    margin: auto;
    width: 90%;
}

.about_img {
    border: 1px solid rgb(51, 51, 51);
    margin-bottom: 10px;
}

.about-me {
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    padding: 40px;
}