{%extends 'base.html'%}
{% load bootstrap4 %}
{% block content %}

<section class="my-5">
    <div class="banner_inner">
        <div class="container">
            <div class="row align-items-center justify-content-between">
                <div class="col-lg-6">
                    <div class="banner_content">
                        <h3>Hey there!</h3>
                        <h1 class="text-uppercase">I am Ng'etich Gideon</h1>
                        <h4 class="text-uppercase">a web developer</h4>
                        <div class="social">
                            <a href="https://github.com/Kipkorir-Gideon"  target="_blank"><i class ="ti-github"></i>Github</a>
                            <a href="https://twitter.com/gidalios" target="_blank"><i class ="ti-twitter"></i>Twitter</a>
                            <a href="mailto:ngetichgideon21@gmail.com" target="_blank"><i class ="ti-mailto"></i>Mail</a>
                            <a href="https://www.linkedin.com/in/ngetich-gideon-218661122/" target="_blank"><i class ="ti-linkedin"></i>LinkedIn</a>
                        </div>
                        <a href="https://github.com/Kipkorir-Gideon" class="btn btn-outline-primary"><span>Github</span></a>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="image">
                        <img src="https://avatars.githubusercontent.com/u/87479324?v=4" alt="photo">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="projects_section my-5">
    <div class="container">
        <h3 style="text-align:center;">Some of my past projects</h3>
        <div class="row justify-content-lg-start justify-content-center">
            {% for project in projects%}
            <div class="col-lg-4 col-md-3">
                <div class="card-deck mx-1 my-4">
                    <img class="card-img-top mb-2" src="{{ project.screenshot.url }}" alt="{{screenshot.title}}">
                    <div class="">
                        <h4 class="card-title" style="color: rgb(233, 109, 109)">{{project.title|title}}</h4>
                        <a class="btn btn-sm btn-outline-info" href="{{ project.site_url }}"> Visit Site</a>
                        <p><em>{{project.description}}</em></p>
                        <hr>
                        <p class="card-text"><strong>{{project.languages|title}}</strong></p>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</section>


<section class="aboutme my-5">
    <div class="container">
        <h3 class="text-center">About Me</h3>
        <div class="row">

        </div>
    </div>
</section>


<section class="contact my-5">
    <div class="container">
        <h3 class="text-center">Contact Me</h3>
        <div class="row">
            
        </div>
    </div>
</section>


{% endblock %}